{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

	<script src="{% static 'changeling/flipclock.js' %}"></script>
	<link rel="stylesheet" href="{% static 'changeling/flipclock.css' %}" />
	<!-- <link rel="stylesheet" href="{% static 'changeling/changes.css' %}" /> -->
	<style type="text/css">
.flip-clock-wrapper *{
  /*position: relative;*/
  /*float: left;*/
  /*margin: 5px;*/
  /*width: 60px;*/
  /*height: 90px;*/
  /*font-size: 200px !important;*/
  /*font-weight: bold;*/
  /*line-height: 87px;*/
  /*border-radius: 6px;*/
  /*background: #000;*/
}
	</style>
</head>
<body>
<div class="clock"></div>

<script type="text/javascript">
	var clock = $('.clock').FlipClock({
		clockFace: 'TwelveHourClock',
		showSeconds: false
	});
</script>

</body>
</html>