<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');
:root {
  --100: #2e323c;
  --200: #2b4251;
  --300: #45415e;
  --400: #5b7d87;
  --500: #91b3bc;
}
    body{
        background: var(--100);
        color: var(--500);
        font-family: 'Roboto', sans-serif;
    }
    
    .box{
        background: var(--200);
        width: 10em;
        height : 10em;
        margin: 0.2em;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }
    a {
        color: var(--400);
    }
    .example {
        font-style: italic;
    }
    a.pagelink {
        color: Yellow;
    }
div.page {
    width:50%;
    margin: 0 auto;
}
div.header{
    height:200px;
    background-size: cover;
    background-position: center;
}
</style>
{% block content %}
{% endblock %}
