{% extends "home/base.html" %}
{% load wagtailcore_tags %}

{% block content %}
{% load wagtailimages_tags %}

    <h1>{{ page.title }}</h1>

    <!-- <div class="intro">{{ page.intro|richtext }}</div> -->
    <div class="container">
        
    {% for post in page.get_children %}
        {% image post.feed_image width-400 as tmp_photo %}
            <div style="background-image: url({{tmp_photo.url}})" class="box" onclick="goto('{% pageurl post %}')">
            {{ post.title }}<br>
            {{ post.url }}<br>
            {{ pageurl post }}
            </div>
        <script> function goto(url){window.location.href = url } </script>
    {% endfor %}
    </div>

{% endblock %}
