<style>
	body{
		background: #111;
		color: #eee;
	}
	a{
		color: #ff0;
	}
</style>
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% for parent in page.get_parents %}
<a href="{{parent.url}}">{{parent}}</a>{% if not forloop.last %}  >> {% endif %}
{% endfor %}
<h1>{{ page.title|richtext }}</h1>
<!-- <a href="/cms/pages/{{ page.id }}/edit/">Edit</a> -->
{{ page.body }}

{% for tag in page.tags.all %}
<a href="/asd/?tag={{tag.slug}}">{{tag}}</a>
{% endfor %}

{% for child in page.get_children %}
{% load wagtailcore_tags %}
<a href="{{ child.specific.url }}">{{ child.specific.title }}</a><br>
{% endfor %}