<div class="col-md-4" id="disadvantagecard">
	<div class="card">
			<table class="table">
				<thead>
					<tr>
						<th scope="col" class="max">Disadvantages</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for a in instance.reldisadvantage.all %}
						<tr>
							<td>{{a.disadvantage}}
								{% if a.modifiers %}
									({% for m in a.modifiers.modifier_set.all %}{{m.name}}, {{m.modifier}}%{% if forloop.last %}{% else %}; {% endif %}{% endfor %})
								{% endif %}
							</td>
							<td>[{{a.cost}}]</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
	</div>
</div>