{% extends 'rpg/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="/static/rpg/scss/{{instance.campaign}}.css">
{% endblock css%}
{% block content %}
{% csrf_token %}
	{% include 'rpg/attributescard.html' %}
	{% include 'rpg/advantagecard.html' %}
	{% include 'rpg/disadvantagecard.html' %}
	{% include 'rpg/skillcard.html' %}
	{% include 'rpg/languagecard.html' %}
	
	<script type="text/javascript">
		console.log("Start!");
		cards = ["attributes","advantage","disadvantage"];
		$.each(cards, function(i,o){
		var card = {"card":o, "id":o+"card"};
		$.ajax({
			method: "POST",
			url: "/rpg/card/{{instance.id}}",
			data: {"data":JSON.stringify(card), "csrfmiddlewaretoken":$('input[name=csrfmiddlewaretoken]').val()},
			// data: {"csrfmiddlewaretoken":$('input[name=csrfmiddlewaretoken]').val()},
			complete: function(response) {
			$('div#'+card['id']).replaceWith(response.responseText);
			},
		})
		});
	</script>
	{% endblock %}
