{% load static %}
<style>
	.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: red;
}

.dropdown-content {
  position: absolute;
  right:0;
  background-color: var(--card_header_background);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.hide {
  display: none;
}
</style>
<!-- <div class="dropdown"> -->
<!-- 	<div class="button" style="background-image: url('{% static 'crowbar/CharacterList.svg' %}')" title="B1"></div> -->
<!--   <div class="dropdown-content right"> -->
<!--   	<a>{{user}}</a> -->
<!--   </div> -->
<!-- </div>  -->

<div class="dropdown">
	<div id="dropdownbtn" class="button" style="background-image: url('{% static 'crowbar/Account.svg' %}')" title="{{user}}"></div>
    <!-- <i class="fa fa-caret-down"></i> -->
  </button>
  <div class="dropdown-content hide" id="myDropdown">
    <a href="/rpg/logout/">Logout</a>
  </div>
  </div> 

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */

$('#dropdownbtn').click(function(){
	$("#myDropdown").toggleClass("hide");
});
</script>