{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}CROWBAR{% endblock %}</title>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
	<script src="{% static 'crowbar/js/contextMenu/jquery.contextMenu.js' %}"></script>
	<script src="{% static 'crowbar/js/contextMenu/jquery.ui.position.js' %}"></script>
	<link rel="stylesheet" href="{% static 'crowbar/css/base.css' %}">
	<link rel="stylesheet" href="{% static 'crowbar/css/css-Modal.css' %}">
	<link rel="stylesheet" href="{% static 'crowbar/css/css-Flat.css' %}">
</head>
<body charid="{{instance.id}}" campid="{{instance.campaign.id}}">
<div class="top layout"> </div>
<div class="top logo">
	<!-- <img class="logo-background" src="{% static 'crowbar/TopBar.svg' %}"> -->
	<span class="logo-text">CROWBAR</span><br>
	<img class="logo-image" src="{% static 'crowbar/Logo.svg' %}">
</div>
<div class="right layout"> </div>
<div class="left layout">
	<div class="button" style="background-image: url('{% static 'crowbar/CharacterList.svg' %}')" title="B1"></div>
</div>
<div class="content layout">
	<div class="content wrapper">
		{% block content %}
		<div class="left column">
		<div class="column wrapper">
		<!-- {% include "crowbar/card-Character.html"%} -->
		</div>
		</div>

        <div class="center column">
        <div class="column wrapper">
        	<table wide>
        	</table>
        </div>
        </div>
        <div class="right column">
        <div class="column wrapper">
		<!-- {% include "crowbar/card-Melee.html" %} -->
        </div>
		{% endblock %}
        </div>
	</div>
</div>
<div class="bottom layout">
      <table class="console">
      <tr>
      <td>Console:</td> <td wide>Loaded Character...</td>
      </tr>
      </table>
  </div>

</body>
</html>