{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}CROWBAR{% endblock %}</title>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
	<script src="{% static 'crowbar/js/contextMenu/jquery.contextMenu.js' %}"></script>
	<script src="{% static 'crowbar/js/contextMenu/jquery.ui.position.js' %}"></script>
	<link rel="stylesheet" href="{% static 'crowbar/css/base.css' %}">
	<link rel="stylesheet" href="{% static 'crowbar/css/css-Modal.css' %}">
	<link rel="stylesheet" href="{% static 'crowbar/css/css-Flat.css' %}">
</head>
<body charid="{{instance.id}}" campid="{{instance.campaign.id}}">
<div class="top layout">
		{% include "crowbar/accountButton.html"%}
</div>
{% block toplogo %}
<div class="top logo">
	<!-- <img class="logo-background" src="{% static 'crowbar/TopBar.svg' %}"> -->
	<span class="logo-text">CROWBAR</span><br>
	<img class="logo-image" src="{% static 'crowbar/Logo.svg' %}">
</div>
{%  endblock %}
<div class="right layout">
	{% block rightbuttons %}
	{%  endblock %}
</div>
<div class="left layout">
	{% block leftbuttons %}
	<div class="button" href="/rpg" style="background-image: url('{% static 'crowbar/CharacterList.svg' %}')" title="Home"></div>
	{%  endblock %}
</div>
<div class="content layout">
	<div class="content wrapper">
		{% block content %}
		<div class="left column">
		<div class="column wrapper">
		{% block leftcolumn %}
		<!-- {% include "crowbar/card-Character.html"%} -->
		{% endblock %}
		</div>
		</div>

        <div class="center column">
        <div class="column wrapper">
		{% block centercolumn %}
        	<table wide>
        	</table>
		{% endblock %}
        </div>
        </div>
        <div class="right column">
        <div class="column wrapper">
		{% block rightcolumn %}
		<!-- {% include "crowbar/card-Melee.html" %} -->
		{% endblock %}
        </div>
		{% endblock %}
        </div>
	</div>
</div>
<div class="bottom layout">
      <table class="console">
      <tr>
      <td>Console:</td> <td wide>Loaded...</td>
      </tr>
      </table>
  </div>

<div class="loading hidden" style="background-image: url('{% static 'crowbar/Loading.svg' %}')">

</div>

</body>
<script>
	$('.button').click(function(){
		href = $(this).attr('href');
		if(href != undefined){
			window.location.href = href;
		}
	});
</script>
</html>