<div class="card" id="card-Attributes" cardtype="Attributes">
	{% include "crowbar/cardHeader.html" with cardTitle="Attributes" %}
	<div class="card-content">
	<table style="width:100%">
	<tr style="height:2em, textAlign:center">
	<td><b>ST</b></td> <td>{{instance.st}}</td><td>[0]</td>
	<td><b>HP</b></td> <td>{{instance.hp}}</td><td>[0]</td>
	<td><b>SM</b></td> <td>{{instance.sm}}</td><td>[0]</td>
	</tr>
	<tr style="height:2em, textAlign:center">
	<td><b>DX</b></td><td>{{instance.dx}}</td><td>[0]</td>
	<td><b>Per</b></td><td>{{instance.per}}</td><td>[0]</td>
	<td><b>BS</b></td><td>{{instance.bs}}</td><td>[0]</td>
	</tr>
	<tr style="height:2em, textAlign:center">
	<td><b>IQ</b></td><td>{{instance.iq}}</td><td>[0]</td>
	<td><b>Will</b></td><td>{{instance.will}}</td><td>[0]</td>
	<td><b>BM</b></td><td>{{instance.bm}}</td><td>[0]</td>
	</tr>
	<tr style="height:2em, textAlign:center">
	<td><b>HT</b></td><td>{{instance.ht}}</td><td>[0]</td>
	<td><b>FP</b></td><td>{{instance.fp}}</td><td>[0]</td>
	</tr>
	</table>
	</div>
</div>