{% verbatim %}
<div class="card" id="card-Melee">
	<div class="card-header" onClick=""> <span> <table class="card-header-table"> <tr>
	<td class="card-header-title">Melee</td>
	<td class="card-header-cost" thin></td>
	</tr> </table> </span></div>
	<div class="card-content">
		<table wide>
		{{#each char.meleePossessions}}
		<tr>
			<td colspan="99">
				<b>{{possession.possession_name}}</b>
			</td>
		</tr>
		{{#each meleeStats}}
		<tr>
			<td>
			</td>
			<td wide>
				{{damageStats.stType}}{{damageStats.mod}} {{damageStats.damType}}
			</td>
			<td> {{parry}} </td>
			<td> {{reach}} </td>
		</tr>
		{{/each}}
		{{/each}}
		</table>

	</div>
</div>
{% endverbatim %}
