<div class="card" id="card-Attributes" cardtype="Attributes">
	{% include "crowbar/cardHeader.html" with cardTitle="Attributes" %}
	<div class="card-content">
	<table style="width:100%">
	<tr style="height:2em, textAlign:center">
	<td><b>ST</b></td> <td>{{instance.st}}</td><td>[{{instance.cost.attributes.stCost}}]</td>
	<td><b>HP</b></td> <td>{{instance.hp}}</td><td>[{{instance.cost.attributes.hpCost}}]</td>
	<td><b>SM</b></td> <td>{{instance.sm}}</td><td>[{{instance.cost.attributes.smCost}}]</td>
	</tr>
	<tr style="height:2em, textAlign:center">
	<td><b>DX</b></td><td>{{instance.dx}}</td><td>[{{instance.cost.attributes.dxCost}}]</td>
	<td><b>Per</b></td><td>{{instance.per}}</td><td>[{{instance.cost.attributes.perCost}}]</td>
	<td><b>BS</b></td><td>{{instance.bs}}</td><td>[{{instance.cost.attributes.bsCost}}]</td>
	</tr>
	<tr style="height:2em, textAlign:center">
	<td><b>IQ</b></td><td>{{instance.iq}}</td><td>[{{instance.cost.attributes.iqCost}}]</td>
	<td><b>Will</b></td><td>{{instance.will}}</td><td>[{{instance.cost.attributes.willCost}}]</td>
	<td><b>BM</b></td><td>{{instance.bm}}</td><td>[{{instance.cost.attributes.bmCost}}]</td>
	</tr>
	<tr style="height:2em, textAlign:center">
	<td><b>HT</b></td><td>{{instance.ht}}</td><td>[{{instance.cost.attributes.htCost}}]</td>
	<td><b>FP</b></td><td>{{instance.fp}}</td><td>[{{instance.cost.attributes.fpCost}}]</td>
	</tr>
	</table>
	</div>
</div>