<div class="modal {% if show %}activated{% endif %}" id="modal-Possession" modaltype="Possessions">
	<a class="close-modal">CLOSE</a>
	<div class="modal-content left">
		<table>
		{% for t in instance.relpossession.all %}
		<tr>
			<td no-wrap>{{t.ammount}} x </td>
			<td wide>
				{{t.possession.possession_name}}
			</td>
			<td>
				{{t.weight}}
			</td>
			<td>
				{{t.cost}}
			</td>
		</tr>
		{% endfor %}
		</table>
	</div>
	<div class="modal-content right">
		<table>
		{% for p in instance.campaign.possession.all %}
				<tr class="newposlist" id="{{p.id}}">
					<td wide>{{p.possession_name}}</td>
					<td>{{p.possession_weight}}</td>
					<td>{{p.possession_cost}}</td>
				</tr>
		{% endfor %}
		</table>
	</div>
<script>
	$(".close-modal").click(function(){
		console.log(this)
		$(this).parents(".modal").removeClass("activated");
	})
	$(".newposlist").click(function(){
		charid = $("body").attr("charid")
		possid = $(this).attr("id")
		link = "/rpg/api/newpos/"+charid+"/"+possid
		modal = $(this).parents("div.modal")
		$.ajax({
		  url: link,
		  cache: false
		})
		  .done(function( result ) {
		  	console.log("RESULT");
		  	// console.log(result);
		  	console.log($(this));
		  	modal.replaceWith(result);
		  	getCard("card-Possession");
			// $("#"+cardid).replaceWith(result);
		  })
		  .fail(function(result){
		  	console.log(result);
		  	// $(".center.column").find(".column.wrapper").html('error');
		  });
	});
</script>
</div>
