:root {
  --card_header: rgba(230,0,0,1);
}

.card {
	background-color: white;
	margin-bottom: 1em;
}

.card-header {
	background-color: var(--card_header);
	color: White;
	font-weight: 700;
}
.card-header-table {
	width:100%;
}

.card-header-title{
	font-size: 105%;
	padding-left:.5em;
	width: 100%;
}
.card-header-cost{
	padding-right:.5em;
}

.card-content{
	padding: 1em;
}


.trait-table{
	border-collapse: collapse;
	width: 100%;	
}

.trait-table tr {
	border-bottom: 1px solid lightgrey; 
}

.trait-table tr:last-child{
	border-bottom: none; 
}
