<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="card">
		{% with at=instance.Attributes %}
		<table wide>
			<tr>
				<td>DODGE:</td>
				<td>{{at.Dodge.score}}</td>
				<td>BLOCK:</td>
				<td>{{instance.Block}}</td>
				<td>DR:</td>
				<td>{% if at.DR.score %}{{at.DR.score}}{% else %}0{%endif%}</td>
			</tr>
		</table>
		{% endwith %}
	</div>
	<div class="card">
		<table wide zebra>
			<tr>
				<td b-1-b colspan=4><b>Melee</b></td>
				<td b-1-l b-1-b ta-c><b>Dam</b></td>
				<td b-1-l b-1-b ta-c><b>Reach</b></td>
				<td b-1-l b-1-b ta-c><b>Min ST</b></td>
				<td b-1-l b-1-b ta-c><b>DB</b></td>
			</tr>
			{% for eq in instance.Traits.All %}
			{% if 'charreach' in eq %} {% if eq.charreach %}
			
			<tr class="weapon-head">
				<td colspan=4>
					<!-- <a href="/pages/possession/{{eq.name|slugify}}">{{eq.name}}</a> -->
					{{eq.name}}
				</td>
				<td b-1-l></td>
				<td b-1-l></td>
				<td b-1-l></td>
				<td b-1-l></td>
			</tr>
			{% for d in eq.damages %}
			{% if d.charreach %}
			<tr>
				<td style="width:0.5em;"><a class="hlt-100">{{d.charskillscore}}</a></td>
				<td style="width:0.5em;">{% if d.charparryscore%} {% if not d.charparryscore == 'No' %}({{d.charparryscore}}){% endif %}{% endif %}</td>
				<td style="width:0.5em;">-</td>
				<td>{{d.mode}}</td>
				<td b-1-l ta-c>{{d.chardamage}} {{d.chardamtype}}</td>
				<td b-1-l ta-c>{{d.charreach}}</td>
				<td b-1-l ta-c>{{d.charminst}}</td>
				<td b-1-l ta-c>{% if d.chardb %}{{d.chardb}}{% else %}-{% endif %}</td>
				
			</tr>
			{% endif %}
			{% endfor %}
			{% endif %} {% endif %}
			{% endfor %}
		</table>
	</div>

	<div class="card">
		<table wide>
				<tr>
					<td b-1-b colspan=3><b>Ranged</b></td>
					<td b-1-l b-1-b ta-c><b>Acc</b></td>
					<td b-1-l b-1-b ta-c><b>Range</b></td>
					<td b-1-l b-1-b ta-c><b>RoF</b></td>
					<td b-1-l b-1-b ta-c><b>Shots</b></td>
					<td b-1-l b-1-b ta-c><b>Rcl</b></td>
				</tr>
			{% for eq in instance.Traits.All %}
			{% if 'charrangemax' in eq %} {% if eq.charrangemax %}
			
			<tr class="weapon-head">
				<td colspan=3>
					<!-- <a href="/pages/advantage/{{eq.name|slugify}}">{{eq.name}}</a> -->
				{{eq.name}}
				</td>
				<td b-1-l></td>
				<td b-1-l></td>
				<td b-1-l></td>
				<td b-1-l></td>
				<td b-1-l></td>
			</tr>
			{% for d in eq.damages %}
			{% if d.charrangemax %}
				<tr>
					<td style="width:0.5em;"><a class="hlt-100">{{d.charskillscore}}</a></td>
					<td style="width:0.5em;">-</td>
					<td>{{d.chardamage}} {{d.chardamtype}}</td>
					<td b-1-l ta-c>{{d.characc}}</td>
					<td b-1-l ta-c>{{d.charrangehalfdam}}/{{d.charrangemax}}</td>
					<td b-1-l ta-c>{{d.charrof}}</td>
					<td b-1-l ta-c>{{d.charshots}}</td>
					<td b-1-l ta-c>{{d.charrcl}}</td>
					
				</tr>
			{% endif %}
			{% endfor %}

			{% endif %}
			{% endif %}
			{% endfor %}
		</table>
	</div>


		<div class="card">
			
			<table wide zebra>
				<tr>
					<td b-1-b><b>Advantages</b></td>
					<td b-1-b ta-r><b>Cost</b></td>
				</tr>
				{% for advantage in instance.Traits.Advantage  %}
				<tr>
					<td>
						<a href="/pages/{%if advantage.usernotes%}{{advantage.usernotes}}/{%endif%}advantages/{{advantage.name|slugify}}">{{advantage.name}}{%if advantage.nameext%} ({{advantage.nameext}}){% endif %}</a>
					</td>
					<td style="width:3em; text-align: right;">
						[{{advantage.points}}]
					</td>
					<td style="display:none;">
						{{advantage|safe}}
					</td>
				</tr>
		
				{% endfor %}
			</table>
		</div>
		<div class="card">
			<table wide zebra>
				<tr>
					<td b-1-b><b>Disadvantages</b></td>
					<td b-1-b ta-r><b>Cost</b></td>
				</tr>
				{% for disadvantage in instance.Traits.Disadvantage  %}
				<tr>
					<td>
						<a href="/pages/{%if disadvantage.usernotes%}{{disadvantage.usernotes}}/{%endif%}disadvantages/{{disadvantage.name|slugify}}">{{disadvantage.name}}{%if disavantage.nameext%} ({{disadvantage.nameext}}){% endif %}</a>
					</td>
					<td style="width:3em; text-align: right;">
						[{{disadvantage.points}}]
					</td>
					<td style="display:none;">
						{{disadvantage|safe}}
					</td>
				</tr>
		
				{% endfor %}
			</table>
		</div>
		<div class="card">
			<table wide zebra>
				<tr>
					<td b-1-b colspan="2"><b>Possessions</b></td>
					<td b-1-b b-1-l style="width:3em; text-align: center;"> <b>wt</b> </td>
					<td b-1-b b-1-l style="width:3em; text-align: center;"> <b>$</b> </td>
				</tr>
				{% for eq in instance.Traits.Equipment %}
				<tr>
					<td style="width:2em; text-align: left;">
						{{eq.count}}x
					</td>
					<td>
						<a href="/pages/possession/{{eq.name|slugify}}">{{eq.name}} {% if eq.nameext %}({{eq.nameext}}){% endif %}</a>
					</td>
					<td b-1-l style="width:3em; text-align: right;">
						{{eq.weight|floatformat:1}}
					</td>
					<td b-1-l style="width:3em; text-align: right;">
						{{eq.cost}}
					</td>
					<td style="display:none;">
						{{eq|safe}}
					</td>
				</tr>
		
				{% endfor %}
			</table>
		</div>
</body>
</html>