{% extends 'code/base.html' %}

{% block title %}CODE 1240{% endblock %}
{% block extranav %}
<li><button id="submitmarks" class="btn orange">Submit Marks</button></li>
{% endblock extranav%}
{% block content %}
<style type="text/css">
	table > tbody > tr:nth-child(2n+1) {
    background-color: rgba(242,242,242,0.1);
</style>
<div class="col s12 m6">
		<div style="z-index:100; position: fixed; left:0; top:0; right:0;" class="card black">
		<div class="card-content white-text">
			Console: <span id="console"></span>
		</div>
		</div>
      <div class="card black">
        <div class="card-content white-text">
	{% csrf_token %}
	<table class="highlight">
		<tr>
			<th>Date</th>
			<th>Name</th>
			<th style="text-align: center; width:100px;">1</th>
			<th style="text-align: center; width:100px;">2</th>
			<th style="text-align: center; width:100px;">3</th>
			<th style="text-align: center; width:100px;">4</th>
			<th style="text-align: center; width:100px;">5</th>
			<th style="text-align: center; width:50%;">Comment</th>
			<th>Total</th>
		</tr>
	{% for s in subs %}
		<tr id="{{s.id}}">
			<td>{{s.date.date}}</td>
			<td><a href="{{s.link}}" target="_app">{{s.user.profile.name}}</a></td>
			<td><input weight="0.3" value="{{s.mark.1.val}}" style="width:100%; color:white; border: none; background:none; text-align: center;" class="mark" id="1" type="int" name="mark" title="Does the Grasshopper script display an applied understanding of computational design theories?" placeholder="##"></td>
			<td><input weight="0.1" value="{{s.mark.2.val}}" style="width:100%; color:white; border: none; background:none; text-align: center;" class="mark" id="2" type="int" name="mark" title="Is the landform of the site accurately modelled?" placeholder="##"></td>
			<td><input weight="0.3" value="{{s.mark.3.val}}" style="width:100%; color:white; border: none; background:none; text-align: center;" class="mark" id="3" type="int" name="mark" title="Does the pin up presentation represent, or extend, the scheme well?" placeholder="##"></td>
			<td><input weight="0.2" value="{{s.mark.4.val}}" style="width:100%; color:white; border: none; background:none; text-align: center;" class="mark" id="4" type="int" name="mark" title="Is the film represented in a professional and evocative design." placeholder="##"></td>
			<td><input weight="0.1" value="{{s.mark.5.val}}" style="width:100%; color:white; border: none; background:none; text-align: center;" class="mark" id="5" type="int" name="mark" title="Did the student attend tutorials and discuss the design with tutors." placeholder="##"></td>
			<td><textarea rows="5" cols="50" style="resize: none; width:100%; color:white; border: none; background:none; text-align: center;" class="comment" id="comment" title="Comments" placeholder="--">{{s.mark.comment.val}}</textarea></td>
			<td>{{s.mark.total}}</td>
		</tr>
	{% endfor %}
	</table>
</div></div></div>
<script type="text/javascript">
	$("input").select(function(){
		title = $(this).attr("title")
		$("#console").html(title);
	});
	$("input").click(function(){
		title = $(this).attr("title")
		$("#console").html(title);
	});
	$("input").change(function(){

		rows = $('tr')
		data = {}
		$.each(rows,function(i,o){
			id = $(o).attr("id");
			data[id] = {};
			marks = $(o).find('input.mark');
			$.each(marks,function(mi,mo){
				markid = $(mo).attr("id");
				markval = $(mo).val();
				markweight = $(mo).attr("weight");
				data[id][markid] = {'val':markval,'weight':markweight};
			});
			data[id]["comment"] = {'val':$(o).find('textarea.comment').val()};
		});
		console.log(data)
		$.ajax({
			method: "POST",
			url: "",
			data: {"data":JSON.stringify(data),"csrfmiddlewaretoken":$('input[name=csrfmiddlewaretoken]').val()},
			success: function(response) {
				console.log(response);
			},
			complete: function(response){
				console.log(response);
				console.log('FINISH SAVE');
			}
			})
			.done(function() {
			// location.reload();
		});
		});
</script>
{% endblock %}
