{% load static %}
<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>reveal.js – The HTML Presentation Framework</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="{% static 'lecture/reveal.css' %}">
		<link rel="stylesheet" href="{% static 'lecture/black.css' %}" id="theme">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	<style type="text/css">
		.contain{
			background-size: contain !important;
		}
	</style>
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
<h1>2018 - Code 1240</h1>
</section>

<section>
<section>
<h2>Assignment 1</h2>
<h4>The Inspiration</h4>
Assigned an inspiration<br>
2 A2 Posters (Portrait)
</section>
<section>
<h2>Assignment 2</h2>
Pick a location on site<br>
<h4>The Residence</h4>
Choose a client<br>
Design a house
</section>
<section>
<h2>Assignment 3</h2>
<h4>Completed Design</h4>
</section>
<section>
<h2>Assignment 4</h2>
<h4>The Checklist</h4>
</section>
<section>
<p style="font-size:18px;">
Dispatch and Weave: Patterns<br>
Parameters<br>
Double Curvature: Four Point / Loft<br>
Intersection<br>
Surface Topology<br>
Boolean Geometry<br>
Truncation/Standardisation<br>
Monads<br>
Floating Parameters<br>
Matrixs: 2D<br>
Meshes<br>
Sweeps<br>
Transforms<br>
Shedules<br>
</p>
<p style="font-size:18px; color:#F00;">
Dispatch and Weave: If Then Else<br>
Physics Engine<br>
Geometry Pipeline<br>
Matrixs: Advanced Trees
</p>
</section>
</section>
<section>
<section>
<h2>THIS YEARS SITE</h2>
<h4>RBG and DOMAIN</h4>
</section>
<section class="contain" data-background="{% static 'lecture/2018/1240/2018-07-24_20h18_15.png' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/048.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/067.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/077.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/141.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/DomainCarpark_0004.jpg' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/IMG_2701.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/IMG_2704.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/IMG_2733.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/IMG_2737.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/IMG_2879.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/IMG_2880.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/IMG_2972.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/IMG_2976.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/IMG_2981.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/IMG_3037.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/IMG_3100.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/IMG_3107.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/IMG_3109.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/IMG_3137.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/IMG_3149.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/IMG_3162.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/L1050436.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/L1050437.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/L1050438.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/L1050488.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/L1060183.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/L1060203.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/P2060023.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/P2060067.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/P7020055.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/P7020079.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/P7020103.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/P7020111.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/P7020133.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/P8140030.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/P8140052.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/P8140128.JPG' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/WP_000133.jpg' %}"></section>
<section class="contain" data-background="{% static 'lecture/2018/1240/WP_000139.jpg' %}"></section>
</section>
<section>
<table style="font-size:18px;">
<tr><td>Akash Ahmed</td><td>Luka-Luke Jovanovic</td></tr>
<tr><td>Billy Park</td><td>Luke Richardson</td></tr>
<tr><td>Charles Banks</td><td>Marco Romeo</td></tr>
<tr><td>Chelsea Chaderopa</td><td>Michael Wu</td></tr>
<tr><td>Eddie Azzi</td><td>Nimat Mistry</td></tr>
<tr><td>Ester Quan</td><td>Ruipu Huang</td></tr>
<tr><td>Garry Zhang</td><td>Rujian Chen</td></tr>
<tr><td>Guanlin He</td><td>Russell Kang</td></tr>
<tr><td>Haotong Bu</td><td>Scarlett Rogers</td></tr>
<tr><td>Hongyang Wang</td><td>Stefen O'Neill</td></tr>
<tr><td>Hugo Ng</td><td>Teresa Tan</td></tr>
<tr><td>James Ianitto</td><td>Tom Rowe</td></tr>
<tr><td>Jesse James</td><td>Valerie Kwan</td></tr>
<tr><td>Jianlun Fu</td><td>William Li</td></tr>
<tr><td>John Espiritu</td><td>Yuqi Wu</td></tr>
<tr><td>Joshua Song</td><td>Yutong Zhang</td></tr>
<tr><td>Justine Zhang</td><td>Zhiliu Zhang</td></tr>
<tr><td>King Leung</td></tr>
</table>
</section>
<section>
<section>
<table style="font-size:18px;">
<tr><td>The 5th Element</td><td>District 9</td><td>Ex Machina</td><td>Tinker Tailor Soldier Spy</td></tr>
<tr><td>Inception</td><td>Kill Bill</td><td>Akira</td><td>Casablanca</td></tr>
<tr><td>Grand Hotel Budapest</td><td>Sin City</td><td>Gattaca</td><td>Brazil</td></tr>
<tr><td>Dr. Strange</td><td>Hitchhikers Guide to the Galaxy</td><td>The Great Beauty</td><td>Ghost in the Shell (Original)</td></tr>
<tr><td>Interstallar</td><td>Blade Runner 2049</td><td>Children of Men</td><td>Twelve Monkeys (Movie)</td></tr>
<tr><td>Edward Scissorhands</td><td>Arrival</td><td>The Matrix</td><td>Metropolis (German)</td></tr>
<tr><td>Alien</td><td>Spirited Away</td><td>Moon</td><td>Synecdoche, New York</td></tr>
<tr><td>The Revenant</td><td>Coraline</td><td>The Shining</td></tr>
<tr><td>Crouching Tiger Hidden Dragon</td><td>Life Aquatic</td><td>2001: A Space Odysey</td></tr>
<tr><td>Watchmen</td><td>Princess Mononoke</td><td>A Clockwork Orange</td></tr>
<tr><td>Tron Legacy</td><td>Blade Runner (Original)</td><td>Dark City</td></tr>
</table>
</section>
<section data-background="http://media.comicbook.com/2017/01/blade-runner-original-replicant-blade-runner-2049-222551.jpg"><h1>Blade Runner (Original)</h1></section>
<section data-background="https://www.feministcurrent.com/wp-content/uploads/2017/11/BladeRunner2049-1.jpg"><h1>Blade Runner 2049</h1></section>
<section data-background="https://johnnyalucard.files.wordpress.com/2017/04/tinker-tailor-soldier-spy.jpg"><h1>Tinker Tailor Soldier Spy</h1></section>
<section data-background="http://www.latimes.com/resizer/xt6Mlu6gGI0J0IVV4cSCWU2Nexc=/1400x0/arc-anglerfish-arc2-prod-tronc.s3.amazonaws.com/public/GK2KR7WX3VACNO4YB6YSY77ALQ.jpg"><h1>Casablanca</h1></section>
<section data-background="https://cdn0.vox-cdn.com/uploads/chorus_asset/file/8261823/Ghost_Shell_1995_Screenshot_2336.jpg"><h1>Ghost in the Shell (Original)</h1></section>
<section data-background="http://www.winwallpapers.net/w1/2014/11/Twelve-Monkeys-1995-Wallpapers.jpg"><h1>Twelve Monkeys (Movie)</h1></section>
<section data-background="https://d2wq73xazpk036.cloudfront.net/media/9116038B-1451-4FB6-90B39305790096A6/95722B05-AFC7-4578-9E2301D2D90ECC07/Dynamic-9b4397dd-ffb4-5f7a-8d4a-6b6cfdb107ab.jpg?response-content-disposition=inline"><h1>Metropolis (German)</h1></section>
<section data-background="http://athenacinema.com/wp-content/uploads/2016/01/synecdoche_new_york_xlg.jpg"><h1>Synecdoche, New York</h1></section>
<section data-background="https://madisonmovie.files.wordpress.com/2015/04/ex-machina-download-wallpapers.jpg"><h1>Ex Machina</h1></section>
<section data-background="https://cdnb.artstation.com/p/assets/images/images/004/261/689/large/devin-lawson-akira-final-web.jpg?1481808763"><h1>Akira</h1></section>
<section data-background="http://static1.1.sqspcdn.com/static/f/709071/26908212/1457653327290/gattaca-leaving-earth.jpg?token=9hyvJsj8EgisaFKrmCIw8A0JJyk%3D"><h1>Gattaca</h1></section>
<section data-background="https://i.ytimg.com/vi/koxRDhAQOpw/maxresdefault.jpg"><h1>The Great Beauty</h1></section>
<section data-background="https://bostonhassle.com/wp-content/uploads/2018/02/com-1200-1200-675-675-crop-000000.jpg"><h1>Children of Men</h1></section>
<section data-background="https://d13ezvd6yrslxm.cloudfront.net/wp/wp-content/images/zz5f79fbb6.jpg"><h1>Tron Legacy</h1></section>
<section data-background="https://cdn-images-1.medium.com/max/1440/1*Sn80dgiwpMjBVrqjfiDbnA.jpeg"><h1>The Matrix</h1></section>
<section data-background="http://cinemavine.com/wp-content/uploads/2015/09/moon-movie-images-stills-duncan-jones-sam-rockwell-6.jpg"><h1>Moon</h1></section>
<section data-background="https://alancook.files.wordpress.com/2013/05/16.jpg"><h1>The Shining</h1></section>
<section data-background="https://static1.squarespace.com/static/51b3dc8ee4b051b96ceb10de/t/5b2c4265758d46726f6b0ffe/1529627242515/?format=2500w"><h1>2001: A Space Odysey</h1></section>
<section data-background="https://a.ltrbxd.com/resized/sm/upload/kr/l2/n7/sf/a-clockwork-orange-55-1200-1200-675-675-crop-000000.jpg?k=9205041b55"><h1>A Clockwork Orange</h1></section>
<section data-background="https://i.ytimg.com/vi/sILqWGEmOv8/maxresdefault.jpg"><h1>Dark City</h1></section>
<section data-background="https://i.pinimg.com/originals/2b/42/9b/2b429b1d9069dd367dcef58c5d370ca2.jpg"><h1>Brazil</h1></section>
<section data-background="http://images2.fanpop.com/images/photos/7000000/District-9-Wallpapers-Alien-Motherships-Guns-Helicopters-district-9-7039049-1920-1056.jpg"><h1>District 9</h1></section>
<section data-background="https://downtowngreensboro.org/wp-content/uploads/2018/06/Kill-Bill.jpg"><h1>Kill Bill</h1></section>
<section data-background="https://assets.mubi.com/images/film/2874/image-w1280.jpg?1486940381"><h1>Sin City</h1></section>
<section data-background="http://www.bbc.co.uk/h2g2/blobs/designart3_lg.jpg"><h1>Hitchhikers Guide to the Galaxy</h1></section>
<section data-background="https://cdn.nybooks.com/wp-content/uploads/2016/12/gleick_1-011917.jpg"><h1>Arrival</h1></section>
<section data-background="https://78.media.tumblr.com/54b99f20fb8ea84223888918ef16bffe/tumblr_mkpj5oixhh1snqyxgo1_1280.png"><h1>Spirited Away</h1></section>
<section data-background="https://landscapearchitecturedaily.com/wp-content/uploads/2011/10/coralinedf-06301.jpg"><h1>Coraline</h1></section>
<section data-background="https://a.ltrbxd.com/resized/sm/upload/q8/a6/g5/8a/life-aquatic-150-1200-1200-675-675-crop-000000.jpg?k=393c60acb2"><h1>Life Aquatic</h1></section>
<section data-background="https://i.imgur.com/mBImCkH.png"><h1>Princess Mononoke</h1></section>
<section data-background="https://aahabershaw.files.wordpress.com/2014/07/screen-shot-2011-11-02-at-23_51_46.png"><h1>Fith Element</h1></section>
<section data-background="http://www.syfy.com/sites/syfy/files/2017/07/incept.jpg"><h1>Inception</h1></section>
<section data-background="https://blog.nationalgeographic.org/wp-content/uploads/2014/03/The-Grand-Budapest-Hotel-Still.jpg"><h1>Grand Hotel Budapest</h1></section>
<section data-background="https://www.fxguide.com/wp-content/uploads/2016/11/LON0220_after.1068.jpg"><h1>Dr. Strange</h1></section>
<section data-background="https://i0.wp.com/moviefail.com/wp-content/uploads/2014/11/interstellar3.jpg"><h1>Interstallar</h1></section>
<section data-background="https://www.movies4kids.co.uk/wp-content/uploads/2011/02/Edward_Scissorhands-716650196-large.jpg"><h1>Edward Scissorhands</h1></section>
<section data-background="https://edge.alluremedia.com.au/m/k/2017/08/alien-isolation-4.jpg"><h1>Alien</h1></section>
<section data-background="https://www.theepochtimes.com/assets/uploads/2015/12/03/the-revenant-re_select_2-00001895_rgb.jpg"><h1>The Revenant</h1></section>
<section data-background="https://i.ytimg.com/vi/4xPC1lEJ6Mg/maxresdefault.jpg"><h1>Crouching Tiger Hidden Dragon</h1></section>
<section data-background="https://bloody-disgusting.com/wp-content/uploads/2018/05/Watchmen.jpg"><h1>Watchmen</h1></section>
			</section>
			</div>

		</div>

		<script src="{% static 'lecture/head.min.js' %}"></script>
		<script src="{% static 'lecture/reveal.js' %}"></script>

		<script>

			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'fade', // none/fade/slide/convex/concave/zoom

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/search/search.js', async: true },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

		<!-- Everything below this point is only used for the reveal.js demo page -->


		<style>
			/* Social sharing */
			.share-reveal a {
				display: inline-block;
				height: 34px;
				line-height: 32px;
				padding: 0 10px;
				color: #fff;
				font-family: Helvetica, sans-serif;
				text-decoration: none;
				font-weight: bold;
				font-size: 12px;
				vertical-align: top;
				text-transform: uppercase;
				box-sizing: border-box;
			}

			.share-reveal .share-reveal-editor {
				line-height: 30px;
			}

			.share-reveal svg {
				vertical-align: middle;
			}

			.share-reveal a + a {
				margin-left: 10px;
			}

			.share-reveal-editor {
				border: 2px solid #fff;
			}

			.share-reveal-twitter,
			.share-reveal-follow {
				background-color: #00aced;
			}

			.share-reveal-facebook {
				background-color: #4B71B8;
			}

			/* Advertising */
			#carbonads {
				width: 370px;
				min-height: 100px;
				font-size: 18px;
				border: 1px solid rgba(255, 255, 255, 0.2);
				padding: 10px;
				margin: 40px auto 0 auto;
				font-size: 16px;
				z-index: 10;
				text-align: left;
			}

			#carbonads .carbon-img img {
				float: left;
				margin: 0 10px 0 0;
				border: 0;
				box-shadow: none;
			}

			#carbonads .carbon-poweredby {
				display: block;
				margin-top: 10px;
				color: #aaa;
			}
		</style>

		<script>
		var _gaq = [['_setAccount', 'UA-15240703-1'], ['_trackPageview']];
		(function(d, t) {
		var g = d.createElement(t),
			s = d.getElementsByTagName(t)[0];
		g.async = true;
		g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g, s);
		})(document, 'script');
		</script>

		<script>
			[].slice.call( document.querySelectorAll( '.share-reveal-facebook, .share-reveal-twitter' ) ).forEach( function( element ) {
				element.addEventListener( 'click', function( event ) {
					event.preventDefault();
					var width = 500, height = 300;
					var winTop = window.screenY + (window.screen.height / 2) - (height / 2);
					var winLeft = window.screenX + (window.screen.width / 2) - (width / 2);
					window.open(this.href, 'shre', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + width + ',height=' + height);
				} );
			} );

			if( !navigator.userAgent.match( /(iphone|android)/gi ) && !!document.querySelector ) {
				document.querySelector( '.share-reveal' ).style.display = 'block';
				document.querySelector( '.fork-reveal' ).style.display = 'block';
			}
		</script>

	</body>
</html>
